#main-content {
    padding-bottom: 20rem;
    overflow-x: hidden;
}

#main-content .function {
    font-size: 1.6rem;
    margin-bottom: 2em;
}

#main-content .function .func-card {
    border-radius: 1.6em;
    padding: 0.6em 1.2em;
}

.function .func-card.first-card {
    background: var(--med-orange);
    color: var(--font-white);
}

.func-card .func-card__info .heading {
    font-size: 1.2em;
    display: inline-block;
    font-weight: bold;
    margin-top: 2em;
    width: 8em;
    margin-bottom: 0.7rem;
}

.func-card .func-card__info .sub-heading {
    font-size: 0.8em;
    opacity: 0.9;
}

.func-card.first-card .func-btn {
    background: var(--font-white);
    border-radius: 1em;
}

.func-card .func-btn {
    margin-bottom: 0.4em;
}

.func-card .func-btn__info {
    font-size: 1em;
    color: var(--dark-orange);
    text-align: center;
    width: 100%;
    padding: 0.4em 0;
    margin: 0;
}

.function .func-card.second-card {
    background: var(--font-white);
    color: var(--dark-orange);
    border: 1px solid var(--light-orange);
}

.func-card.second-card .func-btn {
    background: var(--font-white);
    border-radius: 1em;
    border: 1px solid var(--dark-orange);
}

.function .func-card.third-card {
    background: var(--hard-orange);
    color: var(--font-white);
}

.func-card.third-card .func-btn__info {
    color: var(--dark-orange);
}

.func-card.third-card .func-btn {
    background: var(--font-white);
    border-radius: 1em;
}

#main-content  .category-header {
    font-size: 1.6rem;
    margin-bottom: 1em;
}

#main-content .category-header .heading {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--med-orange);
    margin: 0;
}

#main-content .category-header .filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--light-gray);
    color: var(--font-white);
    border-radius: 1.2em;
}

#main-content .category-header .filter-btn:hover {
    background-color: var(--light-orange);
    cursor: pointer;
}


#main-content .category-header .filter-btn  label {
    margin: 0;
    padding: 0.4em 1em;
}

#main-content .res__list-items .res-img {
    width: 100%;
    position: relative;
}

#main-content .res__list-items .res-img::after {
    content: "";
    display: block;
    padding-top: 100%;
}

#main-content .res__list-items .res-img img {
    width: 100%;
}

.img-absolute {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

#main-content .res__list-items .res-item {
    transition: all 0.2s;
    overflow: hidden;
    font-size: 1.6rem;
    border-radius: 2em;
    background-color: var(--font-white);
}

#main-content .res__list-items .res-item:hover {
    transform: scale(1.05);
}

.res-item:hover .res-point {
    transform: scale(1.4);
}

.res__list-items .res-item .res-info {
    padding: 1.2em;
    display: flex;
}

.res-item .res-info .res-des {
    flex-grow: 1;
    max-width: 90%;
}

.res-item .res-info .res-des > p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.res-item .res-info .res-des .res-name {
    color: var(--dark-orange);
    font-weight: 600;
    font-size: 1.2em;
}

.res-item .res-info .res-des .res-address {
    font-size: 0.75em;
}

.res-item .res-info .res-des .res-sub-info > *{
    display: inline-block;
    font-size: 0.7em;
}

.res-item .res-info .res-des .res-sub-info p {
    margin-right: 0.3em;
}

.res-item .res-info .bookmark-btn {
    display: flex;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.res-item .res-info .bookmark-btn i {
    color: var(--med-orange);
} 

.res-item .res-point {
    position: absolute;
    transition: all 0.3s;
    top: 50%;
    right: 10%;
    background-color: var(--med-orange);
    border-radius: 0.6em;
}

.res-item .res-point .point-number {
    color: var(--font-white);
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
    padding: 0.1em 0.6em;
}